# Django configurations
SECRET_KEY=dev-secret-key-change-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.0,0.0.0.0

# Database configurations
# For local docker-compose environment:
DATABASE_URL=postgres://demo_user:demo_password@db:5432/demo_db
